{% extends 'base.html' %}

{% block content %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
        <div id="load"></div>
    </div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <a class="navbar-brand" href="index.html">
                    <h1 style="color:darkgreen">FARMER ARENA</h1>
                </a>

            </div>

            <div align="right">
                <p style="font-size: 20px;"><b>Hello,{{ user.username }}!</b></p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="font1 collapse navbar-collapse navbar-right navbar-main-collapse">

                <ul class="nav navbar-nav">


                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#fertiliser">Fertiliser</a></li>
                    <li><a href="#pesticide">Pesticide</a></li>
                    <li><a href="#irrigation">Irrigation</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weather Forecast<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'prediction' %}">Prediction</a></li>
                            <li><a href="{% url 'prophet' %}">Prophet</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'subscriberView' %}">Subscribe Crop</a></li>
                    <li><a href="/">Logout</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Section: about -->
    <section id="home" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <br><br>
                                <h2>Your Friend in need</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="slogan text_color">
                <h3 class="font1">
                    Why this portal?
                </h3>

            </div>

            <p class="font11" style="{text-align: center;}">
                This portal is a great way to help you in your day to day needs. You can get details about
                fertilisers,pesticides
                ,pests and so much more. Each crop and its details are shown for easy understanding. Moreover, the
                weather is predicted before hand s that you can
                protect your crops from disasters.
            </p>
            <br>

            <div class="slogan text_color ">
                <h3 class="font1">
                    Features
                </h3>

            </div>

            <p class="font11" style="{text-align: center;}">
                These Services meet the real-time needs of farmers and contribute to weather-based crop/livestock
                management
                strategies and operations dedicated to enhancing crop production and food security.
                They can make a tremendous difference in agricultural production by assisting farmers in taking the
                advantage of benevolent weather and in minimizing the adverse impact of malevolent weather.
            </p>
        </div>

    </section>
    <!-- /Section: about -->

    <section id="service" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Our Services</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="service-box">

                            <img src="/staticfiles/img/icons/service-icon-4.png" alt="we"/>

                            <div class="service-desc">
                                <h5>Fertiliser Assistance</h5>
                                <p>Farmers need to get regular and needy tips on what fertilisers to use regularly. This
                                    portal can help farmers with the amount and what fertiliser to use.</p></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="/staticfiles/img/icons/service-icon-4.png" alt="weather"/>
                            </div>
                            <div class="service-desc">
                                <h5>Free from Pests!</h5>
                                <p>Pests are the enemies of crops! We are joining hands with the farmers and helping in
                                    the reduction of pests that occur to different type of crops.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="/staticfiles/img/icons/service-icon-4.png" alt=""/>
                            </div>
                            <div class="service-desc">
                                <h5>Proper Irrigation</h5>
                                <p>Some plants are thirsty while others are not! In the Irrigation tab, farmers can be
                                    able to view the amount of water supply each crop needs each day!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="wow fadeInRight" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-icon">
                                <img src="/staticfiles/img/icons/service-icon-4.png" alt=""/>
                            </div>
                            <div class="service-desc">
                                <h5>Cloud System</h5>
                                <p>Weather Forecast in Simple and Accurate terms! You can avoid crop loss by
                                    safeguarding them from disasters and bad weather!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: services -->
    <section id="fertiliser" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Fertiliser</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pesticide" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Pesticide</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="irrigation" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Irrigation</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </body>


{% endblock %}

