<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Weather Prediction and Crop Advisory</title>

    <!-- Core JavaScript Files -->
{#    <script src="/staticfiles/js/jquery.min.js"></script>#}
{#    <script src="/staticfiles/js/bootstrap.min.js"></script>#}
{#    <script src="/staticfiles/js/jquery.easing.min.js"></script>#}
{#    <script src="/staticfiles/js/jquery.scrollTo.js"></script>#}
{#    <script src="/staticfiles/js/wow.min.js"></script>#}
{#    <!-- Custom Theme JavaScript -->#}
{#    <script src="/staticfiles/js/custom.js"></script>#}
{#    <script src="/staticfiles/contactform/contactform.js"></script>#}
{##}
{#    <!-- Bootstrap Core CSS -->#}
{#    <link href="/staticfiles/css/bootstrap.min.css" rel="stylesheet" type="text/css">#}
{##}
{#    <!-- Fonts -->#}
{#    <link href="/staticfiles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
{#    <link href="/staticfiles/css/animate.css" rel="stylesheet"/>#}
{#    <!-- Squad theme CSS -->#}
{#    <link href="/staticfiles/css/style.css" rel="stylesheet">#}
{#    <link href="/staticfiles/color/default.css" rel="stylesheet">#}


    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                    z._.push(c)
                },
                $ = z.s = d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set._.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?5YJswNgnpJsvEvbDY5yKtzgpQo5513gP";
            z.t = +new Date;
            $.type = "text/javascript";
            e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                multilanguagePage: true
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</head>

<body>
 The management of weather and climate risks in agriculture has become an important issue due to climate
            change. The Intergovernmental Panel on Climate Change (IPCC) has highlighted multiple climate risks for
            agriculture and food security as well as the potential of improved weather and climate early warning systems
            to assist farmers. Wise use of weather and climate information can help to make better-informed policy,
            institutional and community decisions that reduce related risks and enhance opportunities, improve the
            efficient use of limited resources and increase crop, livestock and fisheries production. National
            Meteorological and Hydrological Services (NMHSs) have an important role to play in providing this weather
            and climate information to farmers, big and small.
</body>
</html>