<!DOCTYPE html>
<html lang="en">

<head>

    <title>Weather Prediction and Crop Advisory</title>

    

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Preloader -->
<div id="preloader">
    <div id="load"></div>
</div>

<section id="weather" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Crop Recommendation</h2>
                        <div class="font1 collapse navbar-collapse navbar-right navbar-main-collapse">

                    <ul class="nav navbar-nav">


                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                        </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <form id="demo-form2" class="form-horizontal form-label-left"
                                      action="{% url 'created' %}" method="post">
                                    {% csrf_token %}
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    CropList
                                </label>
                                    {% for i in CropList %}
                                 <p>{{ i.Elec }}</p>
                                {% endfor %}
                                    <select class="form-control" name="stat1" id="stat1"  data-width="auto" required>
                                        <option disabled selected>-----------</option>
                                        {% for crop1 in CropList %}
                                            <option value="{{ crop1.crop.name }}" >{{ crop1.crop.name }}</option>

                                        {% endfor %}
                                    </select>


                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button id="add" type="submit" class="btn1 btn-dark-green">Select Crop</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
