{% extends 'base.html' %}
{% block content %}

    <body class="intro3">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="">
                    <h1 class="font2" style="text-shadow: 2px 2px grey;">Farmer Signup/Register</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="font1 collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li class="active"><a href="{% url 'signup' %}">Signup</a></li>


                </ul>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="signup" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2 style="color: honeydew">Farmer Signup</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="slogan text_color">
                <h4 class="font1" style="color: whitesmoke">
                    Fill in the required details.
                </h4>


            </div>

            <div align="center">
                <form method="post" class="form-textbox" style="color:floralwhite;">
                    {% csrf_token %}

                    <div class="form-group" style="font-size: larger;color: black">
                        <label class="control-label requiredField" for="aadhar">Aadhar ID: <span class="asteriskField">
                                *
                                </span></label>
                        <div class="input-group">
                                 <div class="input-group-addon">
                                   <i class="fa fa-street-view">
                                    </i>
                                  </div>

                        <input type="text" class="form-control" id="aadhar" placeholder="Enter Aadhar Number"
                               name="aadhar" maxlength="12">
                             </div>

                    </div>

                    <div class="form-group" style="color:black;font-size: larger">
                        <label class="control-label requiredField" for="fname">Farmer Name:
                         <span class="asteriskField">
                            *
                            </span></label>
                        <div class="input-group">
                        <div class="input-group-addon">
                        <i class="fa fa-male">
                            </i>
                        </div>
                        <input type="text" class="form-control" id="fname" placeholder="Enter Farmer's name"
                               name="fname">
                    </div>
                        </div>


                    <div class="form-group" style="color:black;font-size: larger">
                        <label class="control-label requiredField" for="uname">User Name: <span class="asteriskField">
                            *
                            </span></label>
                        <div class="input-group">
                        <div class="input-group-addon">
                        <i class="fa fa-user">
                            </i>
                        </div>
                        <input type="text" class="form-control" id="uname" placeholder="Enter User name" name="uname">
                    </div>
                        </div>





                        <div class="form-group" style="color:black;font-size: larger">
                        <label class="control-label requiredField"  for="fmail">Email Id:
                        <span class="asteriskField">
                            *
                        </span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                            <i class="fa fa-envelope">
                            </i>
                            </div>
                        <input type="email" class="form-control" id="fmail" placeholder="Enter Farmer's Email Id"
                               name="fmail">
                    </div>
                        </div>


                    <div class="form-group" style="color:black;font-size: larger">
                        <label class="control-label requiredField"  for="pin">Enter 4-digit PIN:
                        <span class="asteriskField">
                            *
                        </span></label>
                        <div class="input-group">
                        <div class="input-group-addon">
                    <i class="fa fa-key">
                    </i>
                    </div>


                        <input type="password" class="form-control" id="pin" placeholder="Enter PIN" name="pin"
                               maxlength="4">
                    </div>
                    </div>


                    <div class="form-group" style="color:black ;font-size: larger">
                        <label class="control-label requiredField"   for="pin2">Re-enter 4-digit PIN:
                        <span class="asteriskField">
                            *
                        </span></label>
                        <div class="input-group">
                        <div class="input-group-addon">
                    <i class="fa fa-key">
                    </i>
                    </div>
                        <input type="password" class="form-control" id="pin2" placeholder="Re-Enter PIN" name="pin2"
                               maxlength="4">
                    </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>


    </section>

{% endblock %}
</body>